<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <form id="post-form" method="post" action="/add-post">
    <div class="form-info">
      <label>Название статьи
        <input type="text" name="title">
      </label>
      <label>Автор
        <input type="text" name="author">
      </label>
      <label>Теги
        <input type="text" name="tag">
      </label>
    </div>
    <div class="form-text">
      <label>Текст статьи
        <textarea name="text"></textarea>
      </label>
    </div>
    <div class="form-button">
      <input type="submit" value="Добавить">
    </div>
  </form>
</body>
</html>
